.loader {
    width: 45px;
    height: 45px;
    border: 2px solid  black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    }

     